body {
  font-family: 'Lora', "Avenir Next", Optima, sans-serif;
  margin-right: 25%;
  margin-left: 25%;
}

div {
    text-align: center;
    font-size: 36px
}

@media screen and (min-width: 1000px) {
  div {
    font-size: 14px;
    width: auto;
  }
}

.headshot img {
  border-radius: 50%;
  width: 150px;
}

img {
  border-radius: 3%;
}

.responsive {
  max-width: 100%;
  height: auto;
}
